@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
}

/* Ajoutez d'autres polices si nécessaire */

/* Optimisation de l'affichage du texte pendant le chargement des polices */
body {
  font-display: swap;
}
